{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static "/css/reset.css" %}">
    <link rel="stylesheet" href="{% static "/css/forms.css" %}">
    <link rel="stylesheet" href="{% static "/css/signup.css" %}">
    <script src="{% static "/js/common.js" %}" defer></script>
    <script src="{% static "/js/signup.js" %}" defer></script>
</head>
<body>
<form action="" id="form">
    <h1>Signup</h1>
    <p>Already have an account?<a href="/signin">Sign in instead</a></p>
    <label>
        username
        <input type="text" name="username">
    </label>
        <span id="usernameerrors"></span>
    <label>
        email
        <input type="email" name="email">
    </label>
        <span id="emailerrors"></span>
    <label>
        password
        <input type="password" name="password">
    </label>
        <span id="passworderrors"></span>
    <input type="submit" value="signup">
</form>
</body>
</html>